@charset "UTF-8" ;

body {
    background-color: azure;
    font-family: sans-serif;
    width: 960px;
    margin: auto;
}
h1 {
    text-align: center;
}
p.title {
    text-align: center;
}
p.toukoubi {
    text-align: right;
}

div.tanmatsu {
    background-color: #222222;
    color: white;
    padding: 5px 2px 5px;
    margin: 5px;
    border-radius: 3px;
    white-space: nowrap;
    overflow: scroll;
}

.pc {
    display: block !important;
}

.sp {
    display: none !important;
}

@media only screen and (max-width: 750px) {
    .pc {
        display: none !important;
    }
    .sp {
        display: block !important;
    }
}

div.toukou {
    background-color: #fff0f0;
    border-color: white;
    border-width: 2px;
    border-style: outset;
    margin: 10px 0px;
    overflow: hidden;

}

table.toukoutable td {
    vertical-align: top;
}

table.category {
    table-layout: fixed;
    width: 100%;
}

a.ahref {
    text-decoration: none;
    color: black;
}

/* テンプレート作成　2022/11/06 */
